:root {
  --color-body: 248 250 252; /* slate-50 */
  --color-primary: 14 164 233; /* sky-500 */
  --color-secondary: 212 212 216; /* neutral-400 */
  --color-success: 16 185 129; /* emeral-500 */
  --color-info: 45 212 191; /* teal-400 */
  --color-warning: 251 191 36; /* amber-400 */
  --color-error: 239 68 68; /* red-500 */
  --color-light: 241 245 249; /* slate-100 */
  --color-white: 255 255 255; /* white */
  --color-dark: 51 65 85; /* slate-700 */
  --color-black: 0 0 0; /* black */
  --color-gray-50: 249 250 251; /* gray-50 */
  --color-gray-100: 243 244 246; /* gray-100 */
  --color-gray-200: 229 231 235; /* gray-200 */
  --color-gray-300: 209 213 219; /* gray-300 */
  --color-gray-400: 156 163 175; /* gray-400 */
  --color-gray-500: 107 114 128; /* gray-500 */
  --color-gray-600: 75 85 99; /* gray-600 */
  --color-gray-700: 55 65 81; /* gray-700 */
  --color-gray-800: 31 41 55; /* gray-800 */
  --color-gray-900: 17 24 39; /* gray-900 */
  --color-gray-950: 3 7 18; /* gray-950 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-body: 15 23 42; /* slate-900 */
    --color-primary: 14 164 233; /* sky-500 */
    --color-secondary: 82 82 91; /* neutral-600 */
    --color-success: 16 185 129; /* emeral-500 */
    --color-info: 45 212 191; /* teal-400 */
    --color-warning: 251 191 36; /* amber-400 */
    --color-error: 239 68 68; /* red-500 */
    --color-light: 30 41 59; /* slate-800 */
    --color-white: 0 0 0; /* black */
    --color-dark: 241 245 249; /* slate-100 */
    --color-black: 255 255 255; /* white */
    --color-gray-950: 249 250 251; /* gray-50 */
    --color-gray-900: 243 244 246; /* gray-100 */
    --color-gray-800: 229 231 235; /* gray-200 */
    --color-gray-700: 209 213 219; /* gray-300 */
    --color-gray-600: 156 163 175; /* gray-400 */
    --color-gray-500: 107 114 128; /* gray-500 */
    --color-gray-400: 75 85 99; /* gray-600 */
    --color-gray-300: 55 65 81; /* gray-700 */
    --color-gray-200: 31 41 55; /* gray-800 */
    --color-gray-100: 17 24 39; /* gray-900 */
    --color-gray-50: 3 7 18; /* gray-950 */
  }
}
